body {
  background-color: #EEEEEE;
  padding-top: 70px;

}
.navbar-brand {
  padding: 0px;
}
.navbar-brand > img {
  -webkit-filter: invert(1);
   filter: invert(1);
   margin-top: -5px;
}
.bordu{
  padding-left: 3px;
}

.card-container {
  padding-top: 10px;

}
.container-full{
  background-color: white;
  height: 2000px;
  margin-top: -18px  !important;
  margin-bottom: -18px  !important;

}
.kkwate{


}
.stat-padding{
  border: 1px solid;
  border-radius: 8px;
}
