body {
  background-color: #EEEEEE;
  padding-top: 70px;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand > img {
  -webkit-filter: invert(1);
   filter: invert(1);
   margin-top: -5px;
}
.bordu{
  padding-left: 3px;
}

.card-container {
  padding-top: 10px;
}
